<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @recipe.title %>
</p>

<p>
  <b>Ingredients:</b>
  <%= @recipe.ingredients.html_safe %>
</p>

<p>
  <b>Instructions:</b>
  <%= @recipe.instructions.html_safe %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
